<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1083622414894-h3uv25clufo4cn5l7g9dmc4ei1tabd6n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1083622414894-h3uv25clufo4cn5l7g9dmc4ei1tabd6n</string>
	<key>API_KEY</key>
	<string>AIzaSyD2hPbxikQ8DOntb4N4F-3_Dy51X06y0Xk</string>
	<key>GCM_SENDER_ID</key>
	<string>1083622414894</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.siddiquihera.SDSUAlumni</string>
	<key>PROJECT_ID</key>
	<string>sdsualumni-b9eb9</string>
	<key>STORAGE_BUCKET</key>
	<string>sdsualumni-b9eb9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1083622414894:ios:428f54e9a87844b9</string>
	<key>DATABASE_URL</key>
	<string>https://sdsualumni-b9eb9.firebaseio.com</string>
</dict>
</plist>